.header {
  width: 100vw;
  height: 70px;
  background-color:antiquewhite;
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 30px;
  width: 400px;
  padding: 5px;
}

.content {
  width: 100vw;
  min-height: 100vh;
  background-color: azure;
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: center;
}
.middle {
  width: 70vw;
  min-height: 1000px;
  margin-top: 50px;
  background-color: rgb(221, 243, 252);
  margin-bottom: 100px;
}

.mapEach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  transition: .2s all ease-in-out;
}
.mapEach:hover {
  background-color: rgb(145, 217, 243);
}
.img {
  width: 90%;
  margin-bottom: 30px;
}
.title {
  margin: 15px;
  font-weight: bold;
  font-size: 15px;
}
.codigo {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(39, 116, 204), blue);
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin: 50px;
  text-shadow: 1px 3px black;
  transition: .2s all ease-in-out;
}
.codigo:hover {
  scale:1.1;
  box-shadow: 1px 1px 5px rgb(2, 30, 61);
}
.imgArea {
  width: 80%;
}